{% extends "index.html" %}
{% block content %}
{% if flag == 1 %}
<span style="padding-left:30px"><b><u>Lit Sec</u></b></span></br></br>
{% endif %}
{% if flag == 2 %}
<span style="padding-left:30px"><b><u>Soc Sec</u></b></span></br></br>
{% endif %}
<span style="padding-left:20px">Name  :  {{u.first_name}}</span></br>
<span style="padding-left:20px">Roll no  :  {{u.get_profile.rollno}}</span></br>
<span style="padding-left:20px">Email ID  :  {{u.email}}</b></span></br>
</br>

<form action="" method='POST'>
{% csrf_token %}
<table>
<tr>Comments :<td><textarea rows="10" name="comments" cols="80">{% if flag == 1 %}{{h.litsec_comments}}{% endif %}
{% if flag == 2 %}{{h.socsec_comments}}{% endif %}</textarea></td></tr>
</table>  
</br>  
<span style="padding-left:400px"><input type ='submit' value='Submit'/></span>
</form>   
{% endblock %} 
