{% extends "index.html" %}
{% block content %}
<center>
</center>
<center>
<form action = "" method="POST">
	{% csrf_token %}
</br></br>
<table>
<tr><td>Event Core/Coord Login:</td></tr>
<tr><td>Username:</td><td><input type ='text' name ='username' /></td></tr> 
<tr><td>Password:</td> <td><input type ='password' name ='password' /></td></tr>
<tr><td></td><td><input type = 'submit' value = 'Login' /></td></tr>
</table>
{% if flop == 0 %}<span style = "position:absolute; left:500px; top:300px;"><font color ='red'><b>User name or password incorrect</b></font></span>{% endif %}
</form>
</center>
{% endblock %}
